{% extends 'base.html' %}

{% block content %}
    <div class="card-wrapper">
        {% for movie in movies %}
            <div class="card">
                <div class="img-wrapper">
                    <img class="card-img-top" src="{{ movie.image.url }}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <a href="{{ movie.title }}">{{ movie.title }}</a>
                    <h5>{{ movie.release_date }}</h5>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
